<div class="jumbotron border pad border-secondary col-xxl-12">
  <h3 id="title">Cadastrex</h3>
  <!--SEARCH-->
  <input class="form-control text-center col-md-8" [(ngModel)]="searchText" (change)="onFilter(searchText)" placeholder="Busque por palavras chave">
  <!--CARDS-->
  <div class="form-row col-md-12">
    <div *ngFor="let item of clientes | filter : searchText; let i=index" class="card col-md-2">
      <div *ngIf="item.picture"><img class="image-mask mt-2" src="{{item.picture}}"></div>
      <div *ngIf="!item.picture"><img class="h-25 w-25 mt-2" src="assets/img/profile-icon.png"></div>
      <div class="card-body mb-2">
        <h5 class="card-title">
          {{item.name}}
          &nbsp;
          <i *ngIf="item.gender == '1'" class="fa fa-male text-primary"></i>
          <i *ngIf="item.gender == '2'" class="fa fa-female text-danger"></i>
          <i *ngIf="item.gender == '3'" class="fa fa-neuter text-warning"></i>
        </h5>
        <hr class="text-muted">
        <p class="card-text"><i class="fa fa-phone"></i>&nbsp;{{item.phone || 'N/A'}}</p>
        <div class="row">
          <a target="_blank" href="https://mail.google.com/mail/u/0/?hl=pt-BR&view=cm&tf=1&fs=1&to={{item.email}}"
             class="small mt-1">{{item.email}}</a>
        </div>
        <div class="row">
          <small class="small text-muted mt-1">CPF:&nbsp;{{item.cpf || 'N/A'}}</small>
        </div>
        <hr class="text-muted">
        <div class="row mt-3">
          <button data-toggle="modal" data-target="#modal" (click)="onEdit(item, i)" class="btn btn-primary mr-1"><i
            class="fa fa-edit"></i></button>
          <button (click)="onRemove(i)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!--NO DATA-->
  <div *ngIf="!hasItems() || !hasItemsVar || ![this.clientes | filter:searchText] || [this.clientes | filter:searchText].length <= 0"
       id="no-data" class="form-row nodata col-md-12 mt-5">
    <img src="assets/img/ghost.svg" class="text-muted">
    <h2 class="text-dark mt-4">Sem dados para exibir!</h2>
  </div>
  <!--NO DATA-->
</div>
<!--FLOAT BUTTON-->
<button (click)="clearClient(true)" class="btn btn-float btn-float-check" data-toggle="modal" data-target="#modal"
        type="button"><i
  class="fa fa-plus"></i></button>
<!--MODAL-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <b><span class="modal-title" id="modalLabel">Adicionando Cliente</span></b>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div [innerHtml]='cliente.msg' *ngIf="cliente.msg" style="color: red;"></div>
          <div *ngIf="cliente.picture"><img class="image-mask" [src]="cliente.picture"></div>
          <div *ngIf="!cliente.picture"><img class="h-25 w-25" src="assets/img/profile-icon.png"></div>
        </div>
        <div class="form-row mt-3">
          <div class="col-md-12 mb-3 text-center">
            <label for="file-upload" class="form-control custom-file-upload col-md-12">
              <i class="fa fa-cloud-upload"></i> Custom Upload
            </label>
            <input id="file-upload" type="file" (change)="cliente.selectFile($event)"/>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <input type="text" id="name" name="name" [(ngModel)]="cliente.name" autocomplete="off" class="form-control"
                   placeholder="Nome">
          </div>
          <div class="col-md-6 mb-3">
            <input id="cpf" name="cpf" type="number" maxlength="14" autocomplete="off" [(ngModel)]="cliente.cpf"
                   class="form-control" placeholder="CPF">
          </div>
        </div>
        <div class="form-row mb-2">
          <div class="col-md-6 mb-3">
            <input id="phone" name="phone" type="number" maxlength="14" autocomplete="off" [(ngModel)]="cliente.phone" class="form-control"
                   placeholder="Telefone">
          </div>
          <div class="col-md-6 mb-3">
            <select id="gender" x-placement="Selecione" class="form-control" [(ngModel)]="cliente.gender">
              <option value="1">Masculino</option>
              <option value="2">Feminino</option>
              <option value="3">Outro</option>
            </select>
          </div>
          <div class="col-md-12 mb-5">
            <input id="email" name="email" type="email" [(ngModel)]="cliente.email" class="form-control col-md-12"
                   placeholder="Email">
          </div>
        </div>
      </div>
      <!--BUTTONS-->
      <button *ngIf="cliente.id" data-dismiss="modal" class="btn btn-danger small text-muted center-block mt-5 mb-2"
              (click)="onRemove(cliente.id - 1)">Remover
      </button>
      <button *ngIf="!cliente.id" class="btn btn-outline-light small text-muted center-block mt-5 mb-2"
              (click)="clearClient()">Limpar
      </button>
      <button *ngIf="!cliente.id" (click)="onSave()" data-dismiss="modal" type="button"
              class="btn btn-success center-block mb-5">Adicionar Cliente
      </button>
      <button *ngIf="cliente.id" (click)="onEdit(cliente, cliente.id)" type="button"
              class="btn btn-success center-block mb-5">Atualizar Cliente
      </button>
      <!-- . /BUTTONS-->
    </div>
    <!-- ./ CARD-->
  </div>
</div>
