.jumbotron{
  width: 80%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.card {
  background-color: white;
  margin-top: 10px;
  margin-left: 95px;

}
.jumbotron #title{
  margin-top: 0;
  padding-bottom: 10px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.btn-float {
  position: fixed;
  width: 56px;
  height: 56px;
  bottom: 88%;
  right: 30px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  align-content: center;
}
.btn-float-check {
  /* Nav / Link AOV Green */
  background: #1c8e00;
  /* FAB / Normal */
}
.nodata {
  top: 25%;
}
.image-mask {
  width: 170px;
  height: 170px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  clip: rect(10px, 20px, 30px, 40px);
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
